@use 'mixins.scss' as *;
@use 'variables' as *;

// ----- Photo Gallery Styling -----

.photo-gallery {
    background-color: $Alabaster;
    padding: 0 1rem 1rem;

    @include tablet-breakpoint {
        padding: 1.5rem;
    }
    @include desktop-breakpoint {
        padding: 1.5rem 8rem 1.5rem;
    }


    &__title {
        padding: 1em 0;

    }

    &-wrapper {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr;

        @include tablet-breakpoint {
            grid-template-columns: repeat(3, 1fr);
            // This creates three equal columns. 1fr = 1 fraction of available space for each column
            gap: 1.5rem;
        }
    }

    &__item {
        width: 100%;
        filter: grayscale(100%);
        transition: filter 0.3s ease-in-out;

        &:hover {
            filter: grayscale(0%);
        }
    }
}