@use 'partials/global.scss' as *;
@use 'partials/variables' as *;
@use 'partials/mixins.scss' as *;

@use 'partials/navigation' as *;
@use 'partials/bio-hero-banner' as *;
@use 'partials/photo-gallery' as *;
@use 'partials/comment-section' as *;
@use 'partials/footer' as *;



// Main Content of Bio Page -- Biography Figure, Articles, Photo Gallery

.main {
    padding: 0.5rem 0 1rem;
    min-width: $mobile-breakpoint;

    &-section {
        @include tablet-breakpoint {
            width: 80%;
            margin-left: 10%;
        }
        @include desktop-breakpoint {
            width: 70%;
            margin-left: 15%;
        }
    }


    &-bio {
        padding-bottom: 1.5rem;

        @include tablet-breakpoint {
            display: flex;
            flex-direction: row;
        }


        &__paragraph {
            padding-bottom: 1rem;

            @include tablet-breakpoint {
                width: 50%;
                padding-right: 1.5em;
            }
        }
    }

    &__bio-title {
        padding: 0.75rem 0;

        @include tablet-breakpoint {
            padding: 1.25em 0 0.75em;
            margin-left: 3%;
        }

        @include desktop-breakpoint {
            margin-left: 9%;
        }
    }

    &__bio-subtitle {
        padding: 0.5rem 0 1em;
    }


    &-figure {
        width: 100%;

        &__image {
            width: 100%;
            height: 45vw;
            text-align: center;
            margin-bottom: 0.75rem;
            object-fit: cover;
            object-position: center bottom;
            min-height: 140px;

            @include tablet-breakpoint {
                height: 42vw;
                margin-bottom: 2rem;
                object-position: center center;
            }

            @include desktop-breakpoint {
                height: 37vw;

            }
        }

        &__quote {

            @include desktop-breakpoint {
                width: 77%;
            }
        }

        &__quote-author {
            padding: 0.75rem 0 1.25rem;
            font-size: 14px;

            @include tablet-breakpoint {
                margin-bottom: 1.5em;
                font-size: 1em;
            }
        }

    }
}

.bio-section {
    background-color: $primary-light-color;
    padding: 0 1rem;
}